.video-details {
    margin: 60px 0px;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.owner-info {
    margin: 50px 0px 0px 0px;
    text-align: left;
}
.videoOverlay {
    position: relative;
    height: 70px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,1));
    top: 70px;
    width: 100%;
}
.video-section {
    margin-top: -40px;
}

@media (max-width: 720px) and (min-width: 100px) {
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 720px) {
}
