<tr>
    <td colspan="2">
        <p style="padding: 0px 0 0px 10px;margin: 0px; font-size: 14px;color: #4c4c4c;">Please feel free to reach out to us at <a style="color: blue;text-decoration: underline;cursor:pointer;">culture.place@justbooksclc.com</a></p>
        <p style="padding: 10px 0 0px 10px;margin: 0px;font-size: 14px;">Thank you for using Culture.Place</p>
        <p style="padding: 10px 0 0px 10px;margin: 0px;font-size: 14px;">Regards,</p>
    </td>
</tr>

<tr>
    <td style="width: 70%;">
        <table  width="100%" style="background:#fff;padding: 10px 0px">
            <tr>
                <td>
                    <img src="" class="" width="20px" height="auto" />
                    <span style="padding: 10px 0 0px 2px;margin: 0px; font-size: 18px;font-weight:bolder; color: #c5c5c5;">Manage your courses in few easy steps</span>
                </td>
            </tr>
        </table>
    </td>
    <td style="width: 30%;">
        <table  width="100%" style="background:#fff;padding: 10px 0px">
            <tr>
                <td style="text-align: center;">
                    <p style="padding: 0px 0 0px 0px;margin: 0px;margin-bottom: 5px; font-size: 14px;color: #4c4c4c;">Download <span style="color: #f64127; font-size: 19px;">Culture.Place</span> App</p>
                    <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="width: 20%">
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="width: 50%;">
        <table  width="100%" style="background:#fff;padding: 2px 0px">
            <tr>
                <td style="text-align: left;">
                    <p style="padding: 0px 0 0px 2px;margin: 0px; font-size: 12px;color: #4c4c4c;">This email is sent to you by <a style="color: blue;text-decoration: underline;cursor:pointer;">https://cultureplace.in/</a></p>
                    <p style="padding: 0px 0 0px 2px;margin: 0px; font-size: 12px;color: #4c4c4c;">In case of any query contact us at <a style="color: blue;text-decoration: underline;cursor:pointer;">culture.place@justbooksclc.com</a></p>
                </td>
            </tr>
        </table>
    </td>
    <td style="width: 50%;">
        <table  width="100%" style="background:#fff;padding: 2px 0px">
            <tr>
                <td style="text-align: right;">
                    <p style="display: inline-block;">
                        <a href="https://www.facebook.com/culture.myplace/" target=""><img src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19753.png" width="35px;" height="35px;" style="margin-left: 10px;"></a>
                        <a href="https://twitter.com/cultureplace" target=""><img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png" width="35px;" height="35px;" style="margin-left: 10px;"></a>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="width: 30%;">
        <table  width="100%" style="background:#fff;padding: 2px 0px">
            <tr>
                <td style="text-align: right;">
                    <p style="padding: 0px 0 0px 10px;margin: 0px; font-size: 9px;color: #f64127;">Copyright @ <%= new Date().getFullYear();%> Culture.place, All right Reserved.</p>
                </td>
            </tr>
        </table>
    </td>
</tr>