<tr style="float:left; width:100%; background:#f64127;padding: 10px 0px;">
    <td style="width:800px; padding:8px; color:#fff; text-align: left;">
        <span class="logo"><a href="<%= user.path2 %>" target=""><img src="https://cultureplace.in/images/main-logo.png" alt="CULTURE.PLACE" style="width:40%;font-style:italic;color:#fff;font-size:25px;"></a></span>
    </td>
    <td style="width:200px; text-align:right; color:#fff; font-size:14px; font-weight:bold; padding:8px;">
        <span>080-40511711, 9606111131</span>
        <span >culture.place@justbooksclc.com</span>
    </td>
</tr>